.logo{
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1{
    padding-right: 1rem;
    color: #e33d33;
    font-size: 32px;
}

.logo span{
    color:#333
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 0;
    display: flex;
    flex-wrap: wrap;
}
