.container{
    text-align: center;
}

.container h1{
    margin-top: 3rem;
    text-transform: capitalize;
    background-color: #333;
    border-radius: .5rem;
    color: #fff;
    display: block;
    max-width: 400px;
    margin:3rem auto 0;
    padding: 1rem;
    font-size: 32px;
}

.number{
    padding: 2rem 0;
}

.type{
    background-color: black;
    color: #fff;
    margin: 0 .5rem;
    padding: .5rem;
    display: inline-block;
    border-radius: .3rem;
    text-transform: uppercase;
}

.type_normal {
    background-color: #aa9;
  }
  
  .type_fire {
    background-color: #f42;
  }
  
  .type_water {
    background-color: #39f;
  }
  
  .type_eletric {
    background-color: #fc3;
  }
  
  .type_grass {
    background-color: #7c5;
  }
  
  .type_ice {
    background-color: #6cf;
  }
  
  .type_fighting {
    background-color: #b54;
  }
  
  .type_poison {
    background-color: #a59;
  }
  
  .type_ground {
    background-color: #db5;
  }
  
  .type_flying {
    background-color: #89f;
  }
  
  .type_psychic {
    background-color: #f59;
  }
  
  .type_bug {
    background-color: #ab2;
  }
  
  .type_rock {
    background-color: #ba6;
  }
  
  .type_ghost {
    background-color: #66b;
  }
  
  .type_dragon {
    background-color: #76e;
  }
  
  .type_dark {
    background-color: #754;
  }
  
  .type_steel {
    background-color: #aab;
  }
  
  .type_fairy {
    background-color: #e9e;
  }
  .details{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .height{
    padding-right: 1rem;
    border-right: 1px solid #333;
  }

  .weight{
    margin-left: 1rem;
  }
